.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.8em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}

th {
  background-color: #d3edd3;
}

.text-center {
  text-align: center;
}

.star-rating {
  letter-spacing: 2px;
  position: relative;
  width: 3.2em;
  height: 1.5em;
  font-size: 19px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}

.star-rating[data-rating-count="1"] > .star-rating-front {
  width: 33%;
}

.star-rating[data-rating-count="2"] > .star-rating-front {
  width: 66%;
}

.star-rating[data-rating-count="3"] > .star-rating-front {
  width: 99%;
}

.star-rating-back {
  color: #ccc;
}
